*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1400px;
  background-color: red;
  margin: 0 auto;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* header */
header{
  background-color: #0088cc;
  padding: 14px;
}

header ul{
  list-style: none;
  display: flex;
  align-items: center;
}

header ul li:first-child{
  text-transform: none;
  margin-left: 0;
  font-size: 11px;
}

header ul li{
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 12px;
}
/* /header */


/* logo */
#logo{
  background-color: pink;
  height: 100px;
}
/* /logo */



/* menu */
#menu{
  background-color: blue;
  height: 100px;
}

/* /menu */


/* photos */
#photos{
  background-color: #f7f7f7;
  height: 100px;
}
/* /photos */
