*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1400px;
  background-color: red;
  margin: 0 auto;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* header */
header{
  background-color: #0088cc;
  height: 50px;
  /* padding: 14px; */
}

header ul{
  list-style: none;
  display: flex;
  align-items: center;
  line-height: 50px;
}

header ul li:first-child{
  text-transform: none;
  margin-left: 0;
  font-size: 11px;
}

header ul li{
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 12px;
  cursor: pointer;
}
/* /header */


/* logo */
#logo{
  padding: 35px 0;
}

#logo img{
  width: 100px;
}
/* /logo */



/* menu */
#menu{
  background-color: #ffffff;
  padding: 18px 0;
  border-top: 1px solid #eeeeee;
}

#menu ul{
  list-style: none;
  text-transform: uppercase;
  display: flex;
}

#menu ul li{
  margin-right: 45px;
  font-weight: 600;
  font-size: 14px;
  color: #212529;
  cursor: pointer;
}

#menu ul li:nth-child(8n-1){
  flex-grow: 1;
}

#menu ul li:last-child{
  margin-right: 0;
}

#menu ul li:hover,
#menu ul li:visited{
  color: #0088cc;
}

/* /menu */


/* photos */
#photos{
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 0;
}

#photos .box{
  margin: 15px 0;
}

#photos .box .photo{
  display: flex;
  position: relative;
}

.box .photo span{
  position: absolute;
  left: 0;
}

#photos img{
  width: 445px;
}
/* /photos */


/* posts */
#posts{
  height: 300px;
  background-color: green;
}
