<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>blog con Vue</title>
</head>
<body>
  <div id="app" class="container">
    <header>
      <ul>
        <li>
          Everything about Lifestyle, Travel and Gadgets!
        </li>
        <li v-for="navbar in header">
          {{ navbar }}
        </li>
      </ul>
    </header>

    <main>
      <!-- logo -->
      <section id="logo">
        <img src="blog/images/logo-default-slim.png" alt="logo">
      </section>
      <!-- /logo -->

      <!-- menu -->
      <section id="menu">
        <ul>
          <li v-for="menu in mainMenu">
            {{ menu }}
          </li>
          <li>
            <i class="fas fa-search"></i>
          </li>
        </ul>
      </section>
      <!-- /menu -->

      <!-- photo -->
      <section id="photos">
        <div class="box" v-for="i in 6">
          <div class="photo">
            <img :src="'blog/images/' + photos + i++ + '.jpg'">
            <span class="text" v-for="i in 6">
              <div class="tag" >
                {{ imgTag[i] }}
              </div>
              <h4>
                How
              </h4>
            </span>
          </div>
        </div>
      </section>
      <!-- /photo -->

      <!-- posts -->
      <section id="posts">

      </section>
      <!-- /posts -->


      <!-- slider -->
      <section>

      </section>
      <!-- /slider -->

      <!-- articles -->
      <section>

      </section>
      <!-- /articles -->

      <!-- get in touch -->
      <section>

      </section>
      <!-- /get in touch -->

    </main>


    <footer>

    </footer>

  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
