<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>blog con Vue</title>
</head>
<body>
  <div id="app">
    <div class="bgc-header">
      <header class="container">
        <ul>
          <li>
            Everything about Lifestyle, Travel and Gadgets!
          </li>
          <li v-for="navbar in header">
            {{ navbar }}
          </li>
        </ul>
      </header>
    </div>

    <main>
      <!-- logo -->
      <section id="logo" class="container">
        <img src="blog/images/logo-default-slim.png" alt="logo">
      </section>
      <!-- /logo -->

      <!-- menu -->
      <div class="bgc-menu">
        <section id="menu" class="container">
          <ul>
            <li v-for="menu in mainMenu">
              {{ menu }}
            </li>
            <li>
              <i class="fas fa-search"></i>
            </li>
          </ul>
        </section>
      </div>
      <!-- /menu -->

      <!-- photo -->
      <div class="bgc-photo">
        <section id="photos" class="container">
          <div class="box" v-for="i in 6">
            <div class="photo">
              <img :src="'blog/images/' + photos + i++ + '.jpg'">
              <span class="text" v-for="i in 6">
                <div class="tag" >
                </div>
                <h4>
                  How
                </h4>
              </span>
            </div>
          </div>
        </section>
      </div>
      <!-- /photo -->

      <!-- posts -->
      <section id="posts" class="container">
        <!-- popular -->
        <div class="post">
          <h3>
            popular posts
          </h3>
          <ul>
            <li>
              <img src="blog/images/blog-55.jpg" alt="">
              <div class="preview">
                <p>
                  Simple Ways to Have a Pretty Face
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-56.jpg" alt="">
              <div class="preview">
                <p>
                  Ranking the greatest players in basketball
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-57.jpg" alt="">
              <div class="preview">
                <p>
                  4 Ways to Look Cool in Glasses
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-58.jpg" alt="">
              <div class="preview">
                <p>
                  Top Camper Trailer Towing Tips
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-59.jpg" alt="">
              <div class="preview">
                <p>
                  5 Lovely Walks in New York
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
          </ul>
        </div>
        <!-- /popular -->

        <!-- recent -->
        <div class="post">
          <h3>
            recent posts
          </h3>
          <ul>
            <li>
              <img src="blog/images/blog-55.jpg" alt="">
              <div class="preview">
                <p>
                  Main Reasons To Stop Texting And Driving
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-56.jpg" alt="">
              <div class="preview">
                <p>
                  Tips to Help You Quickly Prepare your Lunch
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-57.jpg" alt="">
              <div class="preview">
                <p>
                  Why should I buy a smartwatch?
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-58.jpg" alt="">
              <div class="preview">
                <p>
                  The best augmented reality smartglasses
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-59.jpg" alt="">
              <div class="preview">
                <p>
                  12 Healthiest Foods to Eat for Breakfast
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
          </ul>
        </div>
        <!-- /recent -->

        <!-- featured -->
        <div class="featured">
          <h3>
            featured posts
          </h3>
          <div class="box">
            <img src="blog/images/blog-66.jpg" alt="sandwich">
            <div class="testo">
              <div class="tag">
                recipes
              </div>
              <h2>
                Tips to Help You Quickly Prepare your Lunch
              </h2>
            </div>
          </div>
          <h3>
            featured author
          </h3>
          <div class="author">
            <img src="blog/images/avatar.jpg" alt="avatar">
            <div class="preview">
              <h2>
                john doe
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              </p>
            </div>
          </div>
        </div>
        <!-- /featured -->
      </section>
      <!-- /posts -->


      <!-- slider -->
      <div class="bgc-slider">
        <section id="slider" class="container">
          <i class="fas fa-chevron-left arrow left"></i>
          <div class="links" v-for="elemento in slider">
            {{ elemento }}
          </div>
          <i class="fas fa-chevron-right arrow right"></i>
        </section>
      </div>
      <!-- /slider -->

      <!-- articles -->
      <section id="articles" class="container">

      </section>
      <!-- /articles -->

      <!-- get in touch -->
      <section>

      </section>
      <!-- /get in touch -->

    </main>


    <footer>

    </footer>

  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
