<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>blog con Vue</title>
</head>
<body>
  <a id="top"></a>
  <div id="app">
    <div class="bgc-header">
      <header class="container">
        <ul>
          <li>
            Everything about Lifestyle, Travel and Gadgets!
          </li>
          <li v-for="navbar in header">
            {{ navbar }}
          </li>
        </ul>
      </header>
    </div>

    <main>
      <!-- logo -->
      <section id="logo" class="container">
        <img src="blog/images/logo-default-slim.png" alt="logo">
      </section>
      <!-- /logo -->

      <!-- menu -->
      <div class="bgc-menu">
        <section id="menu" class="container">
          <ul>
            <li v-for="menu in mainMenu">
              <a href="#">
                {{ menu }}
              </a>
            </li>
            <li>
              <i class="fas fa-search"></i>
            </li>
          </ul>
        </section>
      </div>
      <!-- /menu -->

      <!-- photo -->
      <div class="bgc-photo">
        <section id="photos" class="container">
          <div class="box" v-for="(elemento,i) in seiFoto">
            <div class="photo">
              <img :src="'blog/images/' + photos + i++ + '.jpg'">
              <span class="text">
                <div class="tag">
                  {{ elemento.tag }}
                </div>
                <h4>
                  {{ elemento.title }}
                </h4>
              </span>
            </div>
          </div>
        </section>
      </div>
      <!-- /photo -->

      <!-- posts -->
      <section id="posts" class="container">
        <!-- popular -->
        <div class="post">
          <h3>
            popular posts
          </h3>
          <ul>
            <li>
              <img src="blog/images/blog-55.jpg" alt="">
              <div class="preview">
                <p>
                  Simple Ways to Have a Pretty Face
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-56.jpg" alt="">
              <div class="preview">
                <p>
                  Ranking the greatest players in basketball
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-57.jpg" alt="">
              <div class="preview">
                <p>
                  4 Ways to Look Cool in Glasses
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-58.jpg" alt="">
              <div class="preview">
                <p>
                  Top Camper Trailer Towing Tips
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-59.jpg" alt="">
              <div class="preview">
                <p>
                  5 Lovely Walks in New York
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
          </ul>
        </div>
        <!-- /popular -->

        <!-- recent -->
        <div class="post">
          <h3>
            recent posts
          </h3>
          <ul>
            <li>
              <img src="blog/images/blog-55.jpg" alt="">
              <div class="preview">
                <p>
                  Main Reasons To Stop Texting And Driving
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-56.jpg" alt="">
              <div class="preview">
                <p>
                  Tips to Help You Quickly Prepare your Lunch
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-57.jpg" alt="">
              <div class="preview">
                <p>
                  Why should I buy a smartwatch?
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-58.jpg" alt="">
              <div class="preview">
                <p>
                  The best augmented reality smartglasses
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
            <li>
              <img src="blog/images/blog-59.jpg" alt="">
              <div class="preview">
                <p>
                  12 Healthiest Foods to Eat for Breakfast
                </p>
                <small>
                  January 12, 2019
                </small>
              </div>
            </li>
          </ul>
        </div>
        <!-- /recent -->

        <!-- featured -->
        <div class="featured">
          <h3>
            featured posts
          </h3>
          <div class="box">
            <img src="blog/images/blog-66.jpg" alt="sandwich">
            <div class="testo">
              <div class="tag">
                recipes
              </div>
              <h2>
                Tips to Help You Quickly Prepare your Lunch
              </h2>
            </div>
          </div>
          <h3>
            featured author
          </h3>
          <div class="author">
            <img src="blog/images/avatar.jpg" alt="avatar">
            <div class="preview">
              <h2>
                john doe
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              </p>
            </div>
          </div>
        </div>
        <!-- /featured -->
      </section>
      <!-- /posts -->


      <!-- slider -->
      <div class="bgc-slider">
        <section id="slider" class="container">
          <i class="fas fa-chevron-left arrow left" @click="prev"></i>
          <div class="links" v-for="elemento in slider">
            {{ elemento }}
          </div>
          <i class="fas fa-chevron-right arrow right" @click="next"></i>
        </section>
      </div>
      <!-- /slider -->

      <!-- articles -->
      <section id="articles" class="container">
        <!-- left-hand side -->
        <div class="left">
          <img class="individual" src="blog/images/blog-54.jpg">
          <div class="about">
            <div class="calendar">
              <div class="date">
                12
              </div>
              <div class="month">
                JAN
              </div>
            </div>
            <div class="description">
              <h2>
                How to Make Friends as a Grown-Up
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. [...]
              </p>
              <div class="remarks">
                <ul>
                  <li>
                    By
                    <a href="#">john doe</a>
                  </li>
                  <li>
                    <a href="#">lifestyle, travel</a>
                  </li>
                  <li>
                    <a href="#">12 comments</a>
                  </li>
                  <li>
                    <a href="#">READ MORE</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <img class="individual" src="blog/images/blog-55 (1).jpg">
          <div class="about">
            <div class="calendar">
              <div class="date">
                12
              </div>
              <div class="month">
                JAN
              </div>
            </div>
            <div class="description">
              <h2>
                How to Make Friends as a Grown-Up
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. [...]
              </p>
              <div class="remarks">
                <ul>
                  <li>
                    By
                    <a href="#">john doe</a>
                  </li>
                  <li>
                    <a href="#">lifestyle, travel</a>
                  </li>
                  <li>
                    <a href="#">12 comments</a>
                  </li>
                  <li>
                    <a href="#">READ MORE</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <img class="individual" src="blog/images/blog-56 (1).jpg">
          <div class="about">
            <div class="calendar">
              <div class="date">
                12
              </div>
              <div class="month">
                JAN
              </div>
            </div>
            <div class="description">
              <h2>
                How to Make Friends as a Grown-Up
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. [...]
              </p>
              <div class="remarks">
                <ul>
                  <li>
                    By
                    <a href="#">john doe</a>
                  </li>
                  <li>
                    <a href="#">lifestyle, travel</a>
                  </li>
                  <li>
                    <a href="#">12 comments</a>
                  </li>
                  <li>
                    <a href="#">READ MORE</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <img class="individual" src="blog/images/blog-58 (1).jpg">
          <div class="about">
            <div class="calendar">
              <div class="date">
                12
              </div>
              <div class="month">
                JAN
              </div>
            </div>
            <div class="description">
              <h2>
                How to Make Friends as a Grown-Up
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. [...]
              </p>
              <div class="remarks">
                <ul>
                  <li>
                    By
                    <a href="#">john doe</a>
                  </li>
                  <li>
                    <a href="#">lifestyle, travel</a>
                  </li>
                  <li>
                    <a href="#">12 comments</a>
                  </li>
                  <li>
                    <a href="#">READ MORE</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="multi-img">
            <div class="frame">
              <img src="blog/images/blog-13.jpg">
              <img src="blog/images/blog-16.jpg">
              <img src="blog/images/blog-20.jpg">
            </div>
            <div class="frame">
              <img src="blog/images/blog-23.jpg">
              <img src="blog/images/blog-29.jpg">
              <img src="blog/images/blog-99.jpg">
            </div>
          </div>
          <div class="about">
            <div class="calendar">
              <div class="date">
                12
              </div>
              <div class="month">
                JAN
              </div>
            </div>
            <div class="description">
              <h2>
                How to Make Friends as a Grown-Up
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. [...]
              </p>
              <div class="remarks">
                <ul>
                  <li>
                    By
                    <a href="#">john doe</a>
                  </li>
                  <li>
                    <a href="#">lifestyle, travel</a>
                  </li>
                  <li>
                    <a href="#">12 comments</a>
                  </li>
                  <li>
                    <a href="#">READ MORE</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- pages -->
          <div class="pages">
            <i class="fas fa-chevron-right page"></i>
            <div class="page">
              3
            </div>
            <div class="page">
              2
            </div>
            <div class="page">
              1
            </div>
            <i class="fas fa-chevron-left page"></i>
          </div>
          <!-- /pages -->
        </div>
        <!-- /left-hand side -->


        <!-- right-hand side -->
        <div class="right">
          <h3>
            latest from twitter
          </h3>
          <div class="box">
            <i class="fab fa-twitter"></i>
            <div class="tweet">
              <p>
                If you have any suggestions for the next updates, let us know.
              </p>
              <small>
                01:05 PM Sep 18th
              </small>
            </div>
          </div>
          <div class="box">
            <i class="fab fa-twitter"></i>
            <div class="tweet">
              <p>
                If you have any suggestions for the next updates, let us know.
              </p>
              <small>
                01:05 PM Sep 18th
              </small>
            </div>
          </div>
          <h3>
            photos from instagram
          </h3>
          <div class="multi-img">
            <div class="frame">
              <img src="blog/images/29415304_166583630713703_1032667922171953152_n.jpg">
              <img src="blog/images/29415620_196477127626244_3250318472361541632_n.jpg">
              <img src="blog/images/29739607_2020680068220520_4509928046932787200_n.jpg">
            </div>
            <div class="frame">
              <img src="blog/images/30077195_2066750973610181_3733150062893596672_n.jpg">
              <img src="blog/images/30078414_1274410412703843_8290935809419247616_n.jpg">
              <img src="blog/images/30087804_253872848488989_8792603541668626432_n.jpg">
            </div>
          </div>
          <h3>
            tags
          </h3>
          <div class="tags">
            <div class="tag" v-for="tag in tags">
              {{ tag }}
            </div>
          </div>
          <h3>
            find us on facebook
          </h3>
          <div class="theme">
            Okler Themes
          </div>
        </div>
        <!-- /right-hand side -->
      </section>
      <!-- /articles -->




      <!-- get in touch -->
      <div class="bgc-get-in-touch">
        <section id="get-in-touch" class="container">
          <div class="ribbon">
            Get in Touch
          </div>
          <div class="box">
            <h4>
              about the blog
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            </p>
            <p title="second-p">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            </p>
            <div title="view">
              view more
            </div>
          </div>
          <div class="box">
            <h4>
              recent posts
            </h4>
            <div class="recent">
              <div class="img">
                <img src="blog/images/our-office-4-square.jpg" alt="office">
              </div>
              <div class="text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit
                </p>
                <small>
                  12:53 AM Dec 19th
                </small>
              </div>
            </div>
            <div class="recent">
              <div class="img">
                <img src="blog/images/our-office-5-square.jpg" alt="office">
              </div>
              <div class="text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit
                </p>
                <small>
                  12:53 AM Dec 19th
                </small>
              </div>
            </div>
          </div>
          <div class="box">
            <h4>
              recent comments
            </h4>
            <div class="comment">
              <p>
                <span title="name">john doe</span>
                commented on
                <span title="message">lorem ipsum dolor sit amet.</span>
              </p>
              <small>
                12:55 AM Dec 19th
              </small>
            </div>
            <div class="comment">
              <p>
                <span title="name">john doe</span>
                commented on
                <span title="message">lorem ipsum dolor sit amet.</span>
              </p>
              <small>
                12:55 AM Dec 19th
              </small>
            </div>
          </div>
          <div class="box">
            <h4>
              categories
            </h4>
            <div class="categories">
              <div class="category" v-for="categorie in arrConcatenato">
                {{ categorie }}
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /get in touch -->
    </main>


    <!-- footer -->
    <div class="bgc-footer">
      <footer class="container">
        <div class="logo-footer">
          <img src="blog/images/logo-footer.png" alt="logo-footer">
        </div>
        <small>
          &copy; Copyright 2020. All Rights Reserved.
        </small>
        <div class="navbar-down">
          <ul>
            <li v-for="menu in footer" class="entries">
              {{ menu }}
            </li>
          </ul>
        </div>
      </footer>
    </div>
    <!-- /footer -->


    <!-- freccia per tornare su -->
    <a href="#top" class="top">
      <i class="fas fa-chevron-up"></i>
    </a>
    <!-- /freccia per tornare su -->
  </div>


  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
